@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.text{
    display: flex;

}
.text-wrapper{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    /* margin-bottom: 150px; */
}